.card__item {
	max-width: 400px;
	border-radius: 18px;
	background-position: top -7px right 15px;
	background-repeat: no-repeat;
}

/* .card__item:nth-child(1) {
	background-image: url(../images/icon-work.svg);
}
.card__item:nth-child(2) {
	background-image: url(../images/icon-play.svg);
}
.card__item:nth-child(3) {
	background-image: url(../images/icon-study.svg);
}
.card__item:nth-child(4) {
	background-image: url(../images/icon-exercise.svg);
}
.card__item:nth-child(5) {
	background-image: url(../images/icon-social.svg);
}
.card__item:nth-child(6) {
	background-image: url(../images/icon-self-care.svg);
} */

.card__banner {
	padding: 2em;
}

.card__info {
	background: hsl(235, 46%, 20%);
	color: #fff;
	padding: 1.5em;
	border-radius: 17px;
	margin-top: -1.3em;
}

.card__header,
.card__main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
}

.card__header {
	margin-bottom: 0.5em;
}

.card__header--icon {
	cursor: pointer;
	padding: 0.5em;
}

.card__header--title {
	font-size: 1.3rem;
	font-weight: 400;
}

.card__main--time {
	font-size: 2.2rem;
	font-weight: 300;
}
