.card__item {
	max-width: 400px;
	background-color: hsl(15, 100%, 70%);
	border-radius: 17px;
	overflow: hidden;
}

.card__banner {
	background-image: url(../images/icon-work.svg);
	background-position: right 15px center;
	background-repeat: no-repeat;
	padding: 2em;
	text-align: right;
}

.card__info {
	background: hsl(235, 46%, 20%);
	color: #fff;
	padding: 1.5em;
	border-radius: 17px;
	margin-top: -1.3em;
	z-index: 2;
}

.card__header,
.card__main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
}

.card__header {
	margin-bottom: 0.5em;
}

.card__header--icon {
	cursor: pointer;
	padding: 0.5em;
}

.card__header--title {
	font-size: 1.3rem;
	font-weight: 400;
}

.card__main--time {
	font-size: 2.2rem;
	font-weight: 300;
}
