.dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
	width: 90%;
	max-width: 1440px;
	margin: 5em auto;
}

.card {
	display: grid;
	gap: 2em;
}

@media (min-width: 700px) {
	.dashboard {
		flex-direction: row;
		align-items: flex-start;
	}
}

@media (min-width: 900px) {
	.card {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1200px) {
	.card {
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-rows: auto;
	}
}
