.profile {
	width: 330px;
	background: hsl(235, 46%, 20%);
	border-radius: 17px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.profile__heading {
	display: flex;
	gap: 1em;
	align-items: center;
	background: hsl(246, 80%, 60%);
	color: #fff;
	padding: 2em;
	border-radius: 17px;
	z-index: 9;
}

.profile__img {
	max-width: 62px;
	border: 2px solid #fff;
	border-radius: 100vh;
}

.profile__heading--toptext {
	font-size: 0.9rem;
}

.profile__heading--title {
	font-weight: 300;
}

.profile__report {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1.5em;
	color: #fff;
}

.report {
	font-weight: 400;
}
