html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

:root {
	--white: #fff;
	--blue: hsl(246, 80%, 60%);
	--vary-dark-blue: hsl(226, 43%, 10%);
	--dark-blue: hsl(235, 46%, 20%);
	--dest-blue: hsl(235, 45%, 61%);
	--pale-blue: hsl(236, 100%, 87%);
}

body {
	margin: 0;
	font-family: 'Rubik', sans-serif;
	background: var(--vary-dark-blue);
}

img {
	max-width: 100%;
	display: block;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
